.DS_Store
/Users/sean/Desktop/current_research/fmriBERTfix/fmriBERT/pitchclass/
/Users/sean/Desktop/current_research/fmriBERTfix/fmriBERT/pitchclass/*
/Users/sean/Desktop/current_research/fmriBERTfix/fmriBERT/pretrain_logs/
/Users/sean/Desktop/current_research/fmriBERTfix/fmriBERT/pretrain_logs/*

